@import "variables";

@media (max-width: 768px) {
  .books {
    .book {
      align-items: center;
      flex-direction: column;

      .bookInfo {
        align-items: center;
        display: flex;
        margin-top: 10px;

        p {
          font-size: $font-size-small;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .bookInfo {
    h2 {
      font-size: $font-size-lg;
    }

    p {
      font-size: $font-size-xs;
    }
  }
}
