$background-color: #ffff;
$btn-primary-color: #00796b;
$white: #fff;
$red: rgb(242, 100, 100);
$hover-red: rgb(220, 50, 50);
$blue: rgb(139, 139, 234);
$hover-blue: rgb(100, 100, 200);
$teal: teal;

$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;

$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
